* {box-sizing: border-box;}

body {
   background-color: rgb(255, 255, 255);
   position:relative;
   line-height: 1.5;
   margin: 0 auto;
}


#primary-content {
  font-family: 'Syncopate', sans-serif;
  color: blue;
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  padding: 2rem;
}

#primary-content::first-letter {
   font-size: 5rem;
}

/**
 ** Page-header of Archery web pages
 **/
.company-main-header {
  margin: 0 auto;
  font-family: 'Syncopate', Trebuchet, Arial,  Helevetica sans, sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;

  background-color: rgb(255,255,255);
  color: black;
  border: 0.0001rem dotted orange;
}


.header-logo-and-title {
    display:flex;
    flex-direction: row;
}

.company-main-logo {
  position: relative;
  left:1rem;
  margin: 0 1rem 0 0;
}


/* ---------------------- End of menu -----------------*/
main {
  margin: 0 auto;
  width: 80%;
}


.main-container {
  background-color: white;
  margin: 0 auto;
  width: 100%;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  border-right: 0.05rem dashed lightgray;
  border-left: 0.05rem dashed lightgray;
}

.todo-form {
    padding: 0 0.5rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.todo-input {
    padding: 0 0.5rem;
    margin: 0 auto;
    margin-top: 5rem;
    width: 70%;
}


#difficulty {
  padding: 0 0.5rem;
  margin: 0 auto;
  margin-top: 5rem;
  width: 60%;
}

.sign-up-form p {
  font-size: 1.4rem;
  color: black;
  color: rgba(17, 26, 33, 0.69);
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  width: 75%;

}



input[type="submit"] {
  padding: .6rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: .3rem;
  font-size: 1.2rem;
  color: white;
  width: 8rem;

}


.task-input1 {
  border-radius: 10px;
  border: 0.007rem dashed blue;
  margin: 0 0 .5rem .5rem;
}

.task-assign {
  border-radius: 10px;
  border: 0.007rem dotted blue;
  margin: 0 0 .5rem .5rem;
}

.task-input-label {
  width: 1rem;
}


form {
  margin-left: 5%;
  padding: 1rem;
  border: 1px gray dashed;
  width: 90%;
}

label:after {
  content: "";
  display: table;
  margin-bottom: 1rem;
}

#list-tasks {
  margin-left: 5%;
  width: 90%;
}

@media(min-width: 700px){
  form {
    width: 40%;
    float: left;
  }

  #list-tasks {
    width:40%;
    float: right;
    margin-right: 5%;
  }
}


/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.btn {
  position: relative;
  left: 40%;
  padding: .25rem;

  background: rgb(219, 189, 107); /* For browsers that do not support gradients */
  border-radius: .3rem;
  font-size: .75rem;
  color: black;
  width: 2rem;
}

.quantity-selector {
  position: relative;
  font-size: .75em;
  height: auto;
}

.btn i {
  display: inline-block;
  margin-right: 10%;
}

.cart-info {
  position: absolute;
  /*right: 2rem;*/
  top: .1rem;
  color: white;
}


.remove-from-cart {
  position: absolute;
  left: 65%;
}

.add-to-cart {
  position: absolute;
  left: 15%;
}

.scarf-container {
  padding-bottom: 1rem;
}

@media (min-width: 300px) {
  div[class^="con"] h2 {
      color: orange;
    }


  .sign-up-form {
    display: none;
  }

  .col-lg-4  {
    background-color: rgb(239, 240, 242);
  }
}

@media  (min-width: 500px) , (orientation: landscape) {
  div[class^="con"] h2 {
      color: blue;
    }

  .sign-up-form {
    display: block;
  }
  .col-lg-4  {
    background-color: white;
  }
}

@media (min-width: 801px) {
  div[class^="con"] h2 {
      color: black;
    }


  email-input {
    width: 50%;
  }
}



/**
 ** table
 **/
 table, th, td {
    border: 1px solid LightGrey;
  border-collapse: collapse;
}

th, td {
    padding: 1rem;
}
